.stats {
  font-weight: 500;
}
.total {
  background-color: rgb(179, 47, 47);
  color: white;
  width: auto;
}
.positiveFeedback {
  background-color: rgb(47, 204, 165);
  color: white;
  width: auto;
}
